
@import "fonts";
body{
  font-family: 'GothamPro';
  background: #E5E5E5;
}

.container {
  margin: 0 auto;
  max-width: 85%;
}
.wrapper{
  max-width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 320px){
  .container{
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px){
  .wrapper{
    max-width: 90%;
    margin: 0 auto;
  }
}




.header-mobile__menu{
  display: none;
  @media screen and (max-width: 320px){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;

  }
}





.header-top{
  margin-top: 30px;
  @media screen and (max-width: 320px){

  }
  .header-top__menu{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 320px){
      display: none;
    }
    .top-menu__left{
      display: flex;
      align-items: center;
      .left-menu__text{
        white-space: pre-line;
        margin-left: 62.9px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        margin-top: 2px;
      }
      }
    .top-right_menu{
      display: flex;
      align-items: center;
      .menu-phone{
        margin-right: 37px;
          p{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;

          }
      }
      .menu-button{
        margin-bottom: 5px;
        margin-right: -2px;
        button{
          width: 116px;
          height: 49px;
          background: #273895;
          border-radius: 15px;
          border: none;
          color: white;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 18px;
          cursor: pointer;
        }
      }

    }
  }
}









.header-bottom{
  .bottom-menu{
    margin-top: 22px;
    @media screen and (max-width: 320px){
      display: none;

    }
    .menu__list{
      display: flex;
      padding-left: 0;
      .menu__item{
        list-style-type: none;
        margin-right: 52px;
        .menu__link{
          text-decoration: none;
          white-space: pre-line;
        }
      }
    }
  }
}
.about{
  .about-information__title{
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -39px;
    background-position-x: 763px;
    padding-top: 60px;

    .about__title{
      margin-bottom: -21px;
      @media screen and (max-width: 320px){
        margin-top: -68px;
      }


      h2{
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        width: 733px;
        @media screen and (max-width: 320px){
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          width: 280px;
          color: #262626;
          text-align: center;
        }
      }
    }
    .about__text{
      margin-bottom: 40px;
      @media screen and (max-width: 320px){
        margin-top: 40px;

      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        white-space: pre-line;
        @media screen and (max-width: 320px){
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          text-align: center;
          letter-spacing: -0.01em;
          color: #303030;
          white-space: normal;

        }
      }
    }
    .about__button{
      @media screen and (max-width: 320px){
        text-align: center;
        margin-top: -25px;
      }
      button{
        width: 268px;
        height: 56px;
        background: #273895;
        border-radius: 15px;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 1.3px;
        border: none;
        cursor: pointer;
        @media screen and(max-width: 320px){
          width: 196px;
          height: 50px;
          background: #273895;
          border-radius: 15px;
          color: white;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
        }

      }
    }
  }
}
.about-information__block{
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 320px){
    display: flex;
    margin-top: 153px;
  }
  .information-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 712px;
    height: 164px;
    background: #F4F7FA;
    box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
    border-radius: 10px;
    border: none;
    @media screen and (max-width: 320px){
      display: flex;
      flex-direction: column;
      width: 280px;
      height: 402px;




    }
    .block-legal__support{
      @media screen and (max-width: 320px){
        text-align: center;
      }
      .clock{
          margin-left: 50px;
          margin-bottom: -12px;
        @media screen and (max-width: 320px) {
          margin-left: 0px;
        }
      }
      .clock__text{
        margin-bottom: 0px;
        margin-left: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #303030;
        @media screen and (max-width: 320px) {
          margin-left: 0px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #303030;

        }
      }
      .copywriting{
        margin-left: -1px;
        margin-bottom: -11px;
        @media screen and (max-width: 320px) {
          margin-left: 0px;

        }
      }
      .copywriting__text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #303030;
        margin-left: -3px;
        margin-bottom: -3px;
        @media screen and (max-width: 320px) {
          margin-left: 0px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          color: #303030;

        }
      }
      .dollar{
        margin-top: 17px;

      }
      .dollar__text{
        margin-right: 30px;
        margin-top: 6px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #303030;
        @media screen and (max-width: 320px) {
          margin-left: 0px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;

          color: #303030;
        }
      }

    }
  }
}









.team-lawyers__information{
  display: flex;
  justify-content: space-between;
  margin-top: 220px;
  @media screen and (max-width: 320px){
    display: flex;
    flex-direction: column;
    margin-top: 44px;


  }
  .information__logo{
    margin-left: -3px;
    @media screen and (max-width: 320px){
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #303030;
      text-align: center;
    }

    }
  .information__title{
    h3{
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      color: #303030;
      white-space: pre-line;
      margin-top: 27px;
      @media screen and (max-width: 320px){
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #303030;
        text-align: center;
      }
    }
    }
  .information__text{
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #404040;
      white-space: pre-line;
      margin-top: -18px;
      @media screen and (max-width: 320px){
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: #404040;
        margin-top: -18px;
        white-space: inherit;
      }
    }
  }
  .information-menu__statistic{

    margin-right: 106px;
      .statistic-menu__top{
        display: flex;
        margin-top: -37px;
        .block__100klients{
          padding: 7px 70px 16px 16px;
          background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          white-space: pre-line;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;
          margin-right: 33px;
          margin-left: -1px;
          p{
            margin-left: -10px;
            margin-top: 12px;



            img{
              margin-top: 15px;
              @media screen and (max-width: 320px){
                width: 80px;
                height: 35px;
                margin-top: 15px;
              }

            }
          }
          .text{
            margin-left: -46px;
            margin-top: -2px;
            @media screen and (max-width: 320px){
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 150%;
              margin-left: 0px;
              margin-top: -17px;
            }
          }
          @media screen and (max-width: 320px){
            padding: 20px 51px 16px 16px;
            margin-top: 60px;
            width: 92px;
            height: 58px;
          }

        }

        .block__15{
          width: 179px;
          height: 135px;
          background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
          box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          white-space: pre-line;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;
          margin-top: 23px;
          margin-right: 10px;
          @media screen and (max-width: 320px) {
            padding: 28px 66px 17px 16px;
            margin-top: 73px;
            width: 92px;
            height: 47px;
            margin-left: -12px;
          }


          }
          p{
            margin-left: -75px;
            margin-top: -4px;
            @media screen and (max-width: 320px){
              margin-left: 0px;
              margin-top: 0px;
            }
            img{
              margin-top: 31px;
              @media screen and (max-width: 320px){
                width: 30px;
                height: 35px;
                margin-top: 0px;
              }

            }
          }
          .text{
            margin-left: -10px;
            @media screen and (max-width: 320px){
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 150%;
            }
          }


        }







      }
    .statistic-menu__bottom{
      display: flex;
      .block__50{
        width: 179px;
        height: 135px;
        background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
        box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
        border-radius: 10px;display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        white-space: pre-line;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #404040;
        margin-top: 17px;
        margin-left: 39px;
        @media screen and (max-width: 320px){
          padding: 28px 66px 17px 16px;
          margin-top: 1px;
          width: 48px;
          height: 44px;
          margin-left: 5px;

        }
        p{
          margin-left: -75px;
          margin-top: -4px;
          img{
            margin-top: 31px;
            margin-left: 97px;
            @media screen and (max-width: 320px){
              width: 50px;
              height: 35px;
            }

          }
        }
        .text{
          margin-left: 25px;
          margin-top: -7px;
          @media screen and (max-width: 320px){
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 150%;
          }
        }
      }






      .block__sirius{
        width: 192px;
        height: 171px;
        background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
        box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: pre-line;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #404040;
        margin-top: 16px;
        margin-left: 30px;
        @media screen and (max-width: 320px){
          padding: 28px 66px 17px 16px;
          margin-top: 21px;
          width: 48px;
          height: 55px;
          margin-left: 19px;

        }
        p{

          img{
            margin-right: 54px;
            margin-bottom: -15px;
            @media screen and (max-width: 320px){
              margin-right: -48px;
              width: 60px;
              height: 35px;
            }


          }
        }
        .text{
          margin-left: -15px;
          margin-bottom: 6px;
          @media screen and (max-width: 320px){
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 150%;
            margin-left: 61px;
            margin-top: 10px;

          }

        }
      }
    }






    }





.support{

  .support-section{
    margin-top: 55px;
  }
  .support-section__title{
    h4{
      text-align: center;
    }
  }
  .support-section__block{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @media screen and (max-width: 320px){
      display: flex;
      flex-direction: column;
      margin-top: -50px;

    }
    .block__support{
      width: 275px;
      height: 281px;
      background: #FFFFFF;
      border-radius: 10px;
      padding: 32px;
      @media screen and (max-width: 320px){
        width: 220px;
        height: 225px;
        margin-top: 20px;
      }

      img{
        margin-left: 58px;
        margin-top: -3px;
        @media screen and (max-width: 320px){
          width: 115px;
          height: 93px;
        }


      }
      h4{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #303030;

        margin-left: -2px;
        margin-top: 13px;
        @media screen and (max-width: 320px){
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 150%;
          /* or 21px */

          text-align: center;
        }
      }
      p{
        white-space: pre-line;
        margin-top: -11px;
        margin-left: -1px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #404040;
        @media screen and (max-width: 320px) {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          /* or 18px */

          text-align: center;

          color: #404040;


        }
      }
    }



  }
}





.servis{
  .servis-content{
    margin-top: 140px;
    .servis-title{
      h3{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        color: #303030;
        margin-left: -36px;
        @media screen and (max-width: 320px){
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          margin-left: 0px;
          margin-top: -99px;
        }
      }


    }
    .servis-iformation{

      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 320px){
        display: flex;
        flex-direction: column;
      }
      .information-phone{
        .phone{




        }
        .qeshion{
          position: absolute;

          .answer-qeshion{
            position: relative;
            bottom: 426px;
            left: 74px;
            .qeshion__block{
              padding-top: 6px;
              width: 185.83px;
              height: 99px;
              background: linear-gradient(326.06deg, #F0EBFF 11.53%, #FFFFFF 74.32%);
              box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.78);
              border-radius: 11.9362px;
              text-align: center;
              p{
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #000000;

              }
              button{
                width: 148.01px;
                height: 46.15px;
                background: linear-gradient(326.06deg, #2641D1 11.53%, #3333A3 74.32%);
                border-radius: 7.95745px;
                color: #ffffff;
                border: none;
                cursor: pointer;
                margin-top: -4px;

              }

            }


          }

        }
      }
    }
    .information-center__text{

      .text__center{
        margin-top: -6px;
        margin-left: -2px;


        h4{
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 44px;
          letter-spacing: 0.17em;
          color: #34449C;
          margin-bottom: -9px;
          margin-left: 4px;
          @media screen and (max-width: 320px){
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 44px;
            letter-spacing: 0.17em;
            color: #34449C;
          }
        }
        p{
          white-space: pre-line;

          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;
          @media screen and (max-width: 320px){
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: #404040;
          }
        }
      }
    }
    .information-right__text{

      .text__right{
        margin-right: -29px;
        margin-top: 49.1px;
      }
        .text1{
          display: flex;
          .vector{
            margin-left: 1px;
          }
          p{
            margin-left: 15px;
            white-space: pre-line;
            //font-family: Gotham Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #404040;
            @media screen and (max-width: 320px) {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 150%;
              color: #404040;
            }

          }

      }
      .text2{
        display: flex;

        margin-top: -8px;
        .vector{
          margin-left: 1px;

        }
        p{
          margin-left: 15px;
          white-space: pre-line;
          //font-family: Gotham Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;
          @media screen and (max-width: 320px) {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: #404040;
          }


        }

      }
      .text3{
        display: flex;
        align-items: baseline;
        margin-top: -5px;
        .vector{
          margin-left: 1px;

        }
        p{
          margin-left: 15px;
          white-space: pre-line;
          //font-family: Gotham Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;
          @media screen and (max-width: 320px) {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: #404040;
          }


        }

      }
      .text4{
        display: flex;
        align-items: baseline;
        margin-top: -6px;
        letter-spacing: 1.5px;
        .vector{
          margin-left: 1px;

        }
        p{
          margin-left: 15px;
          white-space: pre-line;
          font-family: Gotham Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;

        }

      }
    }

  }

}

.information-row{
  .row-column{
    position: relative;
    bottom: 76px;
    @media screen and (max-width: 320px){
      margin-top: 80px;
    }
    .row-column__item{
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      margin-left: -21px;
      @media screen and (max-width: 320px){
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .item__list{
        width: 235px;
        height: 338px;
        background: linear-gradient(236.29deg, #FFFFFF 29.99%, #F4F9FF 79.17%);
        box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
        border-radius: 20px;
        padding: 0px 0px 6px 0px;
        @media screen and (max-width: 320px){
          margin-top: 10px;
          width: 281px;
          height: 282px;
        }
        .list__img{
          padding: 36px 0px 0px 29px;

        }
        .list__title{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #404040;
          white-space: pre-line;
          margin: -30px 0px 0px 31px;

        }
        .list__text{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;
          margin: -40px 32px 0px 31px;

        }
        .list__text--active{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #404040;
          margin: -47px 32px 0px 31px;
        }
      }

    }
  }
}





.rates-menu{
  .rates{
    .rates-title{
      text-align: center;
      margin-top: 62px;
      h2{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        color: #303030;
        margin-top: 10px;
      }
    }
    .rates-title__text{
      margin-top: -13px;
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #404040;
      }
    }
    .rates-title__navigation{

      .navigation__button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 63px;
        margin-top: 17px;
        button{
          width: 133px;
          height: 50px;
          background: #273895;
          border-radius: 15px;
          border: none;
          margin-right: 62px;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          color: #FFFFFF;
          cursor: pointer;

        }
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          color: #273895;
          text-decoration: underline;

        }
      }
    }
    .easy-start{
      margin-top: 30px;
      .easy-start__menu{
        width: 1062px;
        height: 495px;
        background: #FFFFFF;
        border-radius: 20px;
        border: none;
        .menu111{
          padding-top: 81px;
          .menu__title{
            margin-top: -57px;
            margin-right: 8px;

            p{
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 30px;
              text-align: center;
              letter-spacing: 0.15em;
              text-transform: uppercase;
            }


          }
        }
        .menu__title2{
          margin-top: -40.8px;
          margin-right: 10px;
          h3{
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            color: #C9C9C9;
          }

        }
        .menu__text{
          margin-top: -22px;
          margin-right: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 30px;
          text-align: center;
          color: #737373;
        }
        .menu__text2{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          text-align: center;
          color: #404040;
          margin-right: 9px;
          letter-spacing: 0.1px;
        }
        .menu-text__information{
          margin-top: -14px;
          .info__text{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            .information1{
              display: flex;
              align-items: center;
              margin-left: 17px;

              img{
                margin-top: 4px;
                margin-right: 11px;
              }
              p{
                margin-right: 11px;
              }

            }
            .information2{
              display: flex;
              align-items: center;
              margin-right: 245px;
              margin-left: 92px;
              img{
                margin-top: 4px;
                margin-right: 15px;
              }
              p{
                margin-right: 11px;
              }
            }

            }

          }
          .info__text2{
            margin-top: -8px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .information3{
              display: flex;
              align-items: baseline;
              margin-right: 17px;
              img{
                margin-top: 4px;
                margin-right: 11px;
              }
              p{
                margin-right: 11px;
              }

            }
            .information4{
              display: flex;
              white-space: pre-line;
              align-items: baseline;
              margin-right: -6px;
              img{
                margin-top: 4px;
                margin-right: 15px;
              }
              p{
                margin-right: 11px;
                line-height: 14px;
              }


            }
          }
          .navigation-kabinet{
            margin-top: -14px;
            display: flex;
            justify-content: center;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 40px;
            color: #2741D0;
            margin-left: -8px;
            letter-spacing: 0.2px;
            p{
              .vector1{
                margin-left: 15px;

              }
            }

          }
          .navigation-kabinet__button{
            display: flex;
            justify-content: center;
            margin-left: -10px;
            margin-top: 1px;
            button{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 18px;
              width: 220px;
              height: 56px;
              background: #273895;
              border-radius: 15px;
              border: none;
              color: #FFFFFF;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }







.information-column{
  .column-row1{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    .column-row2{
      width: 418px;
      height: 552px;
      background: #FFFFFF;
      border-radius: 20px;
      border: none;
      padding: 48px 48px 48px 48px;
      .row-left__navigation{

        .navigation__title{
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: #2741D0;
          margin-top: 23px;

        }
        .navigation__text{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 30px;
          color: #737373;
          margin-top:-9px;
        }
        .navigation__text2{
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 30px;
          color: #404040;
        }
        .navigation__text3{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          color: #404040;
          margin-top: -5px;
        }
        .text__information{
          display: flex;
          align-items: baseline;
          white-space: pre-line;
          margin-top: -16px;
          margin-bottom: 8px;
          img{

          }
          p{
            margin-left: 7px;
          }


        }
        .text-information__gotokabinet{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 40px;
          color: #2741D0;
          img{
            margin-left: 14px;
          }


        }
        .text-information__button{

          button{
            width: 220px;
            height: 56px;
            left: 239px;
            top: 4066px;
            background: #273895;
            border-radius: 15px;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
          }
        }

      }
    }
  }
}


.partners{
  margin-top: 198px;
  .partners-content{
    margin: 0 auto;
    max-width: 95.5%;
    margin-top: -30px;


    .partners-content__information{
      background-repeat: no-repeat;
      background-position: right;
      background-color: #273895;
      height: 398px;
      .wrapper{
        max-width: 73%;
        .info{
          padding-top: 59px;
          .information__title{

            h2{
              font-style: normal;
              font-weight: bold;
              font-size: 32px;
              line-height: 44px;
              color: #FFFFFF;
            }
          }
          .information__text{
            margin-top: -11px;
            p{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 150%;
              color: #E9E9E9;
              white-space: pre-line;
            }

          }
        }
      }

    }
  }
}


.blocks{
  .wrapper{
    .blocks-information{
      margin-top: 76px;

      .blocks-information__items{
        .items{
          margin-top: 30px;
          width: 763px;
          height: 133px;
          background: #FFFFFF;
          border-radius: 20px;
          padding: 48px 187px 48px 110px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .items__img{

          }
          .items__text{
            .items-text__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;

            }
            .items-text__pharagraph{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;

            }
            .items-text__pharagraph2{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;
            }
          }
        }
        .items2{
          margin-top: 18px;
          width: 763px;
          height: 150px;
          background: #FFFFFF;
          border-radius: 20px;
          padding: 48px 187px 48px 110px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .items__img{

          }
          .items__text{
            margin-right: 20px;
            .items-text__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;

            }
            .items-text__pharagraph{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;

            }
            .items-text__pharagraph2{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;
            }
          }
        }
        .items3{
          margin-top: 18px;
          width: 763px;
          height: 131px;
          background: #FFFFFF;
          border-radius: 20px;
          padding: 48px 187px 48px 110px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .items__img{

          }
          .items__text{
            margin-left: 26px;
            .items-text__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;

            }
            .items-text__pharagraph{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;

            }
            .items-text__pharagraph2{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;
            }
          }
        }
        .items4{
          margin-top: 19px;
          width: 763px;
          height: 200px;
          background: #FFFFFF;
          border-radius: 20px;
          padding: 48px 187px 48px 110px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .items__img{

          }
          .items__text{
            margin-left: 26px;
            .items-text__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;

            }
            .items-text__pharagraph{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;

            }
            .marking__list{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
            }
            .items-text__pharagraph2{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;
            }
          }
        }
        .item__button{
          display: flex;
          justify-content: center;
          margin-top: 30px;
          button{
            width: 250px;
            height: 56px;
            background: #273895;
            border-radius: 15px;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
            letter-spacing: 1px;
          }
        }

      }
    }
  }
}



.start{
  .wrapper{
    .easy-start{
      margin-top: 145px;
      .easy-start__title{
        h3{
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;

          text-align: center;
          color: #303030;
        }

      }
      .easy-start__blocks{
        display: flex;
        .easy-blocks__left{


          .item__registration{
            width: 225px;
            height: 186px;
            background: #FFFFFF;
            box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
            border-radius: 20px;
            padding: 32px 32px 32px 32px;
            .registration__img{
              margin-left: -7px;
            }
            .registration__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;
              margin-left: -7px;
            }
            .registration__text{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;
              margin-left: -7px;
            }

          }
          .item__education{
            margin-top: 20px;
            width: 225px;
            height: 186px;
            background: #FFFFFF;
            box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
            border-radius: 20px;
            padding: 32px 32px 32px 32px;
            .education__img{
              margin-left: -7px;

            }
            .education__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;
              margin-left: -7px;
            }
            .education__text{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;
              margin-left: -7px;
            }

          }
        }
        .easy-blocks__center{
          .strategy{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 248px;
            height: 456px;
            left: 501px;
            background: #FFFFFF;
            box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
            border-radius: 20px;
            padding: 32px 32px 32px 32px;
            margin-left: 20px;
            .strategy-img__graphicks{

            }
            .strategy__img{

            }
            .strategy__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;
            }
            .strategy__text{
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
              white-space: pre-line;
            }
          }
        }
        .easy-blocks__right{
          .result{
            width: 256px;
            height: 313px;
            background: #FFFFFF;
            box-shadow: 0px 4px 100px rgba(208, 218, 227, 0.57);
            border-radius: 20px;
            padding: 32px 32px 32px 32px;
            margin-left: 20px;









            border: 2px solid #2641D1;



            .result-img__target{

            }
            .result__title{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 36px;
              color: #404040;
            }
            .result__text{
              white-space: pre-line;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #404040;
            }
            a{
              text-decoration: none;
              .result__button{
                width: 232px;
                height: 56px;
                background: #273895;
                border-radius: 15px;
                border: none;
                font-style: normal;
                font-weight: normal;
                cursor: pointer;
                font-size: 16px;
                line-height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF;
              }
            }

          }

        }
      }
    }
  }
}


.affiliate{
  width: 1440px;
  height: 287px;
  background: #273895;
  margin: 0 auto;
  margin-top: 137px;
  .container{
    max-width: 100%;
    .affiliate-program{
      display: flex;
      padding: 87px 80px 96px 80px;
      justify-content: space-between;
      align-items: center;
      .affiliate-program__title{
        margin-top: -17px;
        h2{
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: #FFFFFF;
          white-space: pre-line;
        }
      }
      .affiliate-program__information{
        margin-top: 18px;
        display: flex;
        .income{
          margin-right: 35px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .income__img{

          }
          .income__text{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            white-space: pre-line;
            text-align: center;
          }

        }
        .policy{
          margin-right: 27px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .policy__img{

          }
          .policy__text{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            white-space: pre-line;
            text-align: center;
          }

        }
        .partnerss{
          margin-right: 47px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .partnerss__img{

          }
          .partnerss__text{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            white-space: pre-line;
            text-align: center;
          }

        }
        .revenue{
          margin-right: 29px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .revenue__img{

          }
          .revenue__text{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            white-space: pre-line;
            text-align: center;
          }

        }
      }
    }
  }
}




.supervisor{
  .wrapper{
    .supervisor-block{
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-top: 144px;
      .supervisor-image{
        margin-left: -98px;

      }
      .supervisor-information{
        margin-top: 51px;
        line-height: 18px;
        margin-left: -8px;
        .supervisor__text{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 0px;
          color: #404040;
        }
        .supervisor__title{
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 1px;
          color: #303030;
        }
        .supervisor__text2{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          /* identical to box height, or 143% */


          color: #404040;

        }
        .supervisor__text3{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #404040;
          margin-top: 27px;
          white-space: pre-line;


        }
        .supervisor__list{
          margin-top: -14px;
          margin-left: -17px;
          .link__list{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            /* or 143% */


            color: #404040;

          }
        }
        .supervisor__text4{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */


          color: #404040;
          margin-top: -16px;


        }
        .supervisor__text5{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          /* or 143% */


          color: #404040;
          white-space: pre-line;

        }
        .sing-up__button{
          width: 251px;
          height: 56px;
          background: #273895;
          border-radius: 15px;
          border: none;
          color: #FFFFFF;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 18px;
          margin-top: 19px;
          letter-spacing: 1px;
          cursor: pointer;


        }


      }
    }
  }
}
.quote{
  .quote-information{
    position: relative;
    bottom: 133px;
    left: 408px;
    width: 358px;
    background: linear-gradient(331.41deg, #F0EBFF -4.05%, #FFFFFF 34.42%);
    box-shadow: 0px 13.5277px 39.7872px rgba(187, 166, 255, 0.2);
    border-radius: 11.9362px;
    .quote-information__items{
      padding: 0px 31px 0px 31px;
      .quote__items{
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        color: #303030;
      }
      .quote__text{
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #303030;
        white-space: pre-line;
      }
    }
  }
}
.footer{
  border-top: 1px solid #303030;
  margin-top: 26px;
  .container{

    .footer-top__menu{
      display: flex;
      justify-content: space-between;
      align-items: initial;

      .top-menu__left{
        display: flex;
        align-items: center;

        .left-menu__text{
          white-space: pre-line;
          margin-left: 62.9px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
          margin-top: 2px;
          margin-left: 47px;

        }
      }
      .top-menu__right{
        display: flex;
        align-items: center;
        .menu-social{
          margin-right: 27px;
          margin-top: 11px;
          img{
            border-radius: 25%;
            border: 1px solid #303030;
            padding: 7px 9px 8px 10px;
          }
        }
      }
    }

  }
}



.wrapper-footer{
  max-width: 95%;
  margin: 0 auto;

  .footer-menu__bottom{
    display: flex;
    justify-content: space-between;
    background: #E8EDF3;
    .bottom-information__left{
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        color: #7A7A7A;
      }

    }
    .bottom-information__right{
      display: flex;
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 20px;
        color: #7A7A7A;
      }

    }

  }
}

